*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text{
    margin: 0;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}

/* .passport-section{
    display: flex;
    justify-content: space-around;
   
    width: 100%;
    
} */
#content{
    position: relative;
}
/* .passport{
    position: absolute;
    top: 150px;
    left: 50px;
} */

/* .name-section{
   width: 100%;
  flex-basis: 50%;
  
} */

